.arrow {
    @include clear-button;
    display: block;
    position: absolute;
    border-color: transparent;
    background: url('../img/most_popular_slider-left.svg') no-repeat;
    width: 15px;
    height: 30px;
    
    &-right {
        transform: rotate(180deg);
    }
}
