.banners {
    
    &__swiper {
        // width: 600px;
        // height: 300px;
        overflow: hidden;
        padding-top: 205px;
        margin-top: -205px;
      }
    
    &__container {
        margin-top: 50px;
        margin-bottom: 40px;
        
        @media (min-width: 768px) {
            margin-top: 60px;
            margin-bottom: 90px;
        }
        
        @media (min-width: 1280px) {
            margin-top: 80px;
            margin-bottom: 125px;
        }
    }
    
    &__slider {
        position: relative;
    }
    &__list {
        @include clear-list;
        width: 100%;
        position: relative;

    }
    &__item {
        z-index: -10;
        background-color: #DC4B54;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: -10px;
        margin-right: -10px;
        
        @media (min-width: 768px) {
            margin-left: -20px;
            margin-right: -20px;
        }
        
        @media (min-width: 1280px) {
            border-radius: 20px;
            margin-left: 0px;
            margin-right: 0px;
        }
        
        &::before {
            content: "";
            bottom: 0px;
            top: 0px;
            left: 0px;
            right: 0px;
            position: absolute;
            z-index: 100;
            background-image: url('../img/sick.svg');
            background-repeat: no-repeat;
            background-size: auto;
            background-size: 80% auto;
            height: 100%;
            background-position: 40% 100%;
            
            @media (min-width: 768px) {
                background-position: 5% 100%;
            }
            
            @media (min-width: 1280px) {
                background-size: 60% auto;
                background-position: -1% 100%;
            }
        }
        
        &::after {
            bottom: 0;
            top: 55px;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 200;
            background-image: url('../img/big_banner_legs.svg');
            background-repeat: no-repeat;
            background-size: 560px;
            
            @media (min-width: 768px) {
                content: "";
            }
            
            @media (min-width: 1280px) {
                bottom: 0;
                top: -330px;
                left: -80px;
                right: 0;
                background-size: auto;
            }
        }
        &--green {
            background-color: #2a8f03e3;
        }
        &--blue {
            background-color: #0400ffb7;
        }
    }
    

    
    &__pagination {
        background-color: #fff;
        border-color: transparent;
        width: 11px;
        height: 11px;
        border-radius: 11px;
        padding: 0;
        transition: width 0.3s;
        
        &--big{
            width: 30px;
            border-radius: 6px;
            padding: 0;
        }
        
        &--buttons {
            position: absolute;
            display: flex;
            z-index: 1111;
            // top: 330px;
            // right: 0;
            // left: 0;
            gap: 20px;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 20px;
            padding-right: 20px;
            
            @media (min-width: 768px) {
                // top: 580px;
                // left: auto;
                // right: 20px;
            }
            @media (min-width: 1280px) {
                // top: 560px;
            }
        }

    }
    &__arrow-left {
        display: none;

        
        @media (min-width: 768px) {
            display: block;
            position: absolute;
            z-index: 1112;
            top: 265px;
            left: 25px;
            top: 62%;
            transform: translateY(-50%);
        }
    }
    &__arrow-right {
        display: none;

        
        @media (min-width: 768px) {
            display: block;
            position: absolute;
            z-index: 1113;
            top: 270px;
            right: 25px;
            top: 62%;
            transform: translateY(-50%) rotate(180deg);
        }
    }
}
