.best-selling {
    &__title {
        margin-bottom: 20px;
    
        @media (min-width: 768px) {
          margin-bottom: 62px;
        }
    }
    
    &__category {
        display: flex;
        position: relative;
        justify-content: center;
        
        gap: 18px;
        margin-bottom: 25px;
    
        @media (min-width: 768px) {
          gap: 80px;
          margin-bottom: 60px;
        }
    
        @media (min-width: 1280px) {
          margin-bottom: 80px;
        }
    }
    
    &__button {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        box-shadow: none;
        
        padding: 8px 38px;
    
        @media (min-width: 768px) {
          font-size: 28px;
          line-height: 38px;
          
          padding: 20px 45px;
        }
    }
    
    &__products {
        display: flex;
        gap: 25px;
        flex-direction: column;
        margin-bottom: 25px;
        width: 100%;
        
        @media (min-width: 768px) {
          display: grid;
          grid-template-columns: repeat(2, minmax(235px, 600px));
          grid-template-rows: repeat(3,minmax(212px, 364px));
          gap: 40px 40px;
          
          margin-bottom: 45px;
        }
      
        @media (min-width: 1280px) {
          display: grid;
          grid-template-columns: repeat(3, minmax(377px, 503px));
          grid-template-rows: repeat(2,524px);
          gap: 70px 30px;
          
          margin-bottom: 85px;
        }
    }
    
    &__show-all {
        display: block;
        margin: 0 auto;
        width: 100%;
        
        font-weight: 600;
        font-size: 28px;
        line-height: 43px;
        padding: 16px 52px;
        
        box-shadow: 0px 2.32px 1.97px 0px #00000006,
            0px 5.39px 4.58px 0px #00000009,
            0px 9.68px 8.22px 0px #0000000B,
            0px 16.06px 13.65px 0px #0000000C,
            0px 26.45px 22.49px 0px #0000000E,
            0px 100px 85px 0px #00000017;
    
        @media (min-width: 768px) {
          width: auto;
        }
    }
}
