.main-nav {
    position: relative;
    z-index: 10;
    
    &__container {
        display: flex;
        align-items: center;
        padding-top: 15px;
        
        @media (min-width: 768px) {
            padding-top: 20px;
        }
        
        @media (min-width: 1280px) {
            padding-top: 78px;
        }
        
    }
    
    &__logo {
        @media (min-width: 768px){
            margin-right: 140px;
        }

        @media (min-width: 1280px){
            margin-right: 142px;
        }
        img {
            width: 93px;
            height: 31px;
        }
    }
    
    &__contacts {
        display: none;
        margin-top: auto;
        padding-bottom: 20px;
        padding-right: 10px;
        margin-left: auto;
        
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #000000BF;
            text-align: right;
            opacity: 60%;
        }
    } 
    
    &__social {
        display: flex;
        justify-content: end;
        margin-top: 12px;
        margin-bottom: 0px;
        
        img {
            width: 21px;
            height: 17px;
        }
    }
    
    &__menu {
        display: none;
        
        @media (max-width: 767px) {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 60%;
            height: 100vh;
            z-index: 11;
            background-color: #EBEBEB;
            box-shadow: 
                0px 2.32px 1.97px 0px #00000006,
                0px 5.39px 4.58px 0px #00000009,
                0px 9.68px 8.22px 0px #0000000B,
                0px 16.06px 13.65px 0px #0000000C,
                0px 26.45px 22.49px 0px #0000000E,
                0px 46.23px 39.3px 0px #00000011,
                0px 100px 85px 0px #00000017;
        }
        
        @media (min-width: 768px) {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        
        &--showed {
            display: flex;
            flex-direction: column;
            
            .main-nav__contacts {
                display: block;
            }
            
            .main-nav__close {
                display: block;
            }
            
            @media (min-width: 768px) {
                .main-nav__contacts {
                    display: none;
                }
                .main-nav__close {
                    display: none;
                }
            }
        }
    }
    
    &__list {
        @include clear-list;
        margin-top: 80px;
        
        @media (min-width: 768px) {
            display: flex;
            margin-top: 0px;
            margin: auto;
        }
    }
    
    &__item {
        // padding-left: 36px;
        // padding-right: 36px;
        // padding-top: 10px;
        text-align: right;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: black;
        
        @media (min-width: 768px) {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
        
        @media (min-width: 768px) {
            font-size: 16px;
        }
        
        @media (min-width: 1280px) {
            font-size: 24px;
            line-height: 36px;
        }

        a {
            display: block;
            padding: 14px;
            
            @media (max-width: 767px) {
                background-color: #F6F6F6;
                border-top: 1px solid #D9D9D9;
                border-bottom: 1px solid #D9D9D9;
            }
            
            @media (min-width: 768px) {
                padding: 20px 18px;
            }
        }
    }
    
    &__buttons {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-left: auto;
    }
    
    &__burger {
        @include clear-button;

        position: relative;
        @media (min-width: 768px) {
            display: none;
        }
        
        img {
            display: block;
            width: 16px;
            height: 11px;
        }
    }
    
    &__close {
        @include clear-button;
        
        display: none;
        position: absolute;
        top: 24px;
        right: 11px;
        
        img {
            width: 12px;
            height: 12px;
        }
    }
    
    &__find {
        @include clear-button;
        
        z-index: 11;
        img {
            width: 17px;
            height: 16px;
        }
        
        @media (min-width: 768px) {
            img {
                width: 29px;
                height: 27px;
            }
        }
    }
    
    &__shop {
        @include clear-button;
        
        z-index: 11;
        position: relative;
        img {
        width: 20px;
        height: 16px;
        }
        
        @media (min-width: 768px) {
            img {
                width: 32px;
                height: 26px;
            }
        }
    }
    &__pin {
        position: absolute;
        top: -5px;
        right: -7px;
        min-width: 12px;
        padding: 0 2px;
        height: 12px;
        border-radius: 12px;   
        text-align: center;
        line-height: 12px;
        color: #000;
        font-size: 7px;
        background-color: #D9D9D9;
        
        @media (min-width: 768px) {
            font-size: 11px;
            top: -7px;
            right: -9px;
            min-width: 18px;
            border-radius: 18px;
            height: 18px;
            line-height: 18px;
        }
    }
}
