.slideshow {
    
    &__container {
        margin-bottom: 60px;
        @media (min-width: 768px){
            margin-bottom: 93px;
        }
        @media (min-width: 1280px) {
            height: 131px;
            margin-bottom: 160px;
        }
    }
    
    &__list {
        @include clear-list;
        background-color: #000000;
        position: relative;
        display: flex;
        overflow: hidden;
        align-items: center;
        width: 100%;
        padding: 20px 0px;
        height: 63px;
        
        @media (min-width: 768px){
            height: 131px;
        }
        @media (min-width: 1280px) {
            height: 161px;
        }
        &:hover li {
            animation-play-state: paused;
        }
        
        a {
            padding: 35px 15px;
        }
    }
    
    &--animation {
        position: absolute;
        animation: right-to-left;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        padding-left: 100%;
    }
    
    &__ozon {
        
        img {
            width: 72px;
            height: 16px;
            
            @media (min-width: 768px){
                width: 181px;
                height: 40px;
            }
        }
    }
    
    &__wildberries {
        animation-delay: 3s;
        
        img {
            width: 106px;
            height: 16px;
            
            @media (min-width: 768px){
                width: 266px;
                height: 40px;
            }
        }
    }
    
    &__sbermarket {
        animation-delay: 6s;
        
        img {
            width: 120px;
            height: 16px;
            
            @media (min-width: 768px){
                width: 298px;
                height: 40px;
            }
        }
    }
    &__yandex-market {
        animation-delay: 9s;
        
        img {
            width: 90px;
            height: 16px;
            
            @media (min-width: 768px){
                width: 208px;
                height: 40px;
            }
        }
    }
    
    @keyframes right-to-left {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-100%);
        }
    }
}
