.title-lines {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: black;
    text-transform: capitalize;
    
    @media (min-width: 768px) {
        font-size: 45px;
        line-height: 62px;
    }
    
    span {
        position: relative;
        
        &::before,
        &::after {
            width: 41px;
            height: 3px;
            background-color: black;
            content: '';
            position: absolute;
            top: 50%;
            left: -63px;
            transform: translateY(-2px);
        }
        
        &::after {
            left: auto;
            right: -63px;
        }
    }
    
    &--reviews{
        span {
            &::before {
            left: -245px;
            }
        }
    }
}
